# git ignore for Halo-Suit-BeagleBone

#####Compiled Source#############
*.out
*.o
suitcontroller
test__*


#####Configfiles#################
log.txt

#####Compressed Files############
*.zip
*.rar
*.tar
*.gz.tar

#####ETC#########################
*.swp

#####Android#####################
#not necessary but doesn't hurt
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
