[submodule "json-builder"]
	path = external/json-builder
	url = http://github.com/udp/json-builder.git
[submodule "json-parser"]
	path = external/json-parser
	url = https://github.com/udp/json-parser.git
[submodule "docs"]
	path = docs
	url = https://github.com/SFU-Embedded-Cosplay/halo-project.wiki.git
