[Unit]
Description=runs a server controls pins via bluetooth commands

[Service]
ExecStart= echo cape-bone-iio > /sys/devices/bone_capemgr.9/slots
ExecStart=/root/suitcontroller
SyslogIdentifier=suitcontroller
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
